body {
  background-color: #F6F6F6;
}

#masthead, #footer {
  background-color: #D7EAF0;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(#D5E8EE, #D7EAF0);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D5E8EE), to(#D7EAF0));
  background-image: -moz-linear-gradient(#D5E8EE, #D7EAF0);
  background-image: -o-linear-gradient(top, #D5E8EE, #D7EAF0);
  background-image: -khtml-gradient(linear, left top, left bottom, from(#D5E8EE), to(#D7EAF0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5E8EE', endColorstr='#D7EAF0', GradientType=0); /* IE8 and down */
}
#masthead div.inner, #footer div.inner {
  padding: 25px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}
#masthead h1,
#footer h1,
#masthead p,
#footer p {
  color: #07495a;
  -webkit-text-shadow: white 1px 1px 0;
  -moz-text-shadow: white 1px 1px 0;
  -o-text-shadow: white 1px 1px 0;
  -msie-text-shadow: white 1px 1px 0;
  text-shadow: white 1px 1px 0;
}

#masthead p a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}
#masthead a:hover {
  color: #be1671;
}

#masthead h1,
#masthead p {
  text-align: center;
  margin-bottom: 9px;
}
#masthead h1 {
  font-size: 50px;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#masthead p {
  font-weight: 300;
}
#masthead p.lead {
  font-size: 20px;
  line-height: 27px;
}

section > .row {
  padding: 20px;
	margin: 0;
}
section h1 {
  color: #07495a;
  font-size: 25px;
  -webkit-text-shadow: white 1px 1px 0;
  -moz-text-shadow: white 1px 1px 0;
  -o-text-shadow: white 1px 1px 0;
  -msie-text-shadow: white 1px 1px 0;
  text-shadow: white 1px 1px 0;
  padding: 0;
  margin: 0;
	position: relative;
}

#search {
	background-color: #f5f5f5;
/*
	-moz-box-shadow: 10px 0px 10px #eaeaea;
	-webkit-box-shadow: 0px 10px 10px #eaeaea;
	box-shadow: 0px 10px 10px #eaeaea;
*/	
	moz-box-shadow: 11px 3px 23px #0f0f0f;
	-webkit-box-shadow: 11px 3px 23px #0f0f0f;
	box-shadow: 11px 3px 23px #0f0f0f;
}






.button {
  cursor: pointer;
  display: inline-block;
background-color: #f6f3cb;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#aeeb6e), to(#f6f3cb));
background-image: -moz-linear-gradient(top, #aeeb6e, #f6f3cb);
background-image: -ms-linear-gradient(top, #aeeb6e, #f6f3cb);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aeeb6e), color-stop(100%, #f6f3cb));
background-image: -webkit-linear-gradient(top, #aeeb6e, #f6f3cb);
background-image: -o-linear-gradient(top, #aeeb6e, #f6f3cb);
background-image: linear-gradient(top, #aeeb6e, #f6f3cb);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aeeb6e', endColorstr='#f6f3cb', GradientType=0);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #339bb9 #339bb9 #22697d;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 5px 14px 6px;
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.button:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.button.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}



#commands {
	background: #efefef;
}

#commands li {
	display: inline-block;
	padding: 0 5px 0 0;
}

#commands li a {
	display: inline-block;
	padding: 3px 7px;
	background: #a1b6c8;
	color: #fff;
	-webkit-text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
	-moz-text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
	-o-text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
	-msie-text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
	text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-msie-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-msie-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset rgba(0,0,0,.2) 0px 2px 3px, rgba(255,255,255,1) 0 1px 0;
	-moz-box-shadow: inset rgba(0,0,0,.2) 0px 2px 3px, rgba(255,255,255,1) 0 1px 0;
	-o-box-shadow: inset rgba(0,0,0,.2) 0px 2px 3px, rgba(255,255,255,1) 0 1px 0;
	-msie-box-shadow: inset rgba(0,0,0,.2) 0px 2px 3px, rgba(255,255,255,1) 0 1px 0;
	box-shadow: inset rgba(0,0,0,.2) 0px 2px 3px, rgba(255,255,255,1) 0 1px 0;
}

#commands li a:hover,
#commands li a.active {
	background: #5bc0de;
	color: #fff;
	text-decoration: none;
}



